.container () {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.reset-styles-ol () {
    ul, li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.btn () {
    cursor: pointer;

    background-color:rgba(247, 117, 42, 1);
    color: @white;
    
    border: 0;
}