@white: #ffffff;
@transparent: rgba(0, 0, 0, 0);
@brand: rgba(247, 117, 42, 1);

body {
	background-color: @white;

	margin: 0 auto;

	font-size: 15px;
	line-height: 1.5;

	max-width: 100%;
	min-width: 360px;

    font-family: sans-serif;
}