@media (min-width: @desktop-width) {
    .header {
        width: 100%;

        position: absolute;
        top: 31px;
        left: 0;

        background-color: @transparent;
    }

    .header__container {
        .container ();
    }

    .header__wrapper {
        padding: 25px 10px;
    }

    .header__search-wrapper {
        display: flex;
        align-items: center;

        column-gap: 24px;

        margin-bottom: 16px;
    }

    .header__img {
        user-select: none;
    }

    .header__form {
        margin-left: 40px;
    }

    .header__input {
        width: 757px;
        height: 56px;

        outline: 0;

        border: 0;
        border-radius: 28px;

        padding: 24px;

        color: @gray;
        background-color: @darkTransparent;
    }

    .header__btn-list {
        display: flex;
        row-gap: 5px;
        column-gap: 16px;

        .reset-styles-ol ();

        padding: 0;
        margin: 0;
    }

    .header__btn-item {
        cursor: pointer;

        width: 56px;
        height: 56px;

        background-color: @transparent;

        border: 2px solid @brand;
        border-radius: 28px;
    }

    .header__btn-item--active {
        background-color: @brand;
    }

    .header__links-wrapper {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .header__button {
        padding: 18px 66px 18px 40px;

        cursor: pointer;

        background-color:rgba(247, 117, 42, 1);
        color: @white;

        border-radius: 28px;
        border: 0;

        font-weight: 700;
        font-size: 16px;

        line-height: 20px;
    }

    .header__nav {
        width: 731px;
    }

    .header__nav-list {
        .reset-styles-ol ();
        margin: 0;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 5px;
    }

    .header__nav-item {
        a {
            font-size: 16px;
            font-weight: 500;
            
            text-decoration: none;
            color: @white;
        }
    }

    .header__number {
        font-size: 16px;
        font-weight: 700;

        line-height: 19px;

        color: @brand;

        text-decoration: none;
    }

    a.header--red {
            color: red;

    }
}