@media (min-width: @desktop-width) {
    // .section-portfolio {

    // }

    .section-portfolio__container {
        .container ();
    }

    // .section-portfolio__wrapper {

    // }

    .section-portfolio__title {
        .title ();
        margin-bottom: 24px;
    }

    .section-portfolio__wrapper-card {
        display: flex;
        column-gap: 24px;

        margin-bottom: 24px;
    }

    // .section-portfolio__wrapper-content {

    // }

    .section-portfolio__text {
        margin: 0;
        margin-top: 8px;

        font-weight: 500;
        font-size: 14px;

        line-height: 16px;

        text-align: center;
    }

    .section-portfolio__button {
        .btn ();

        text-align: center;

        margin: 0 auto;
        padding: 28px 86px 28px 54px;

        border-radius: 54px;

        display: block;
    }

    .section-portfolio__shop-overview {
        padding: 72px 218px;
    }

    .section-portfolio__overview-title {
        color: @dark;

        margin: 0;
        margin-bottom: 24px;

        font-weight: 700;
        font-size: 64px;

        line-height: 76px;
    }

    .section-portfolio__overview-text {
        font-weight: 400;
        font-size: 16;

        margin: 16px 0;

        line-height: 24px;

        color: @dark;
    }

    .section-portfolio__overview-list {
        padding: 0;
        padding-left: 18px;
        margin: 0;
        margin-bottom: 16px;

        ::marker {
            font-family: sans-serif;
            color: @dark;
        }
    }
    .section-portfolio__overview-item {
        color: @dark;
        
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .section-portfolio__overview-bottom-text {
        font-weight: 400;
        font-size: 16;
        line-height: 24px;

        color: @dark;

        margin: 0;
    }
}
