@media (min-width: @desktop-width) {
    .section-goods {
        background-color: @white;
    }

    .section-goods__container {
        .container ();
    }

    .section-goods__wrapper {
        padding: 36px 10px 24px;
    }

    .section-goods__title {
        .title ();
        margin-bottom: 24px;
    }

    .section-goods__list {
        .reset-styles-ol ();
        padding: 0;
        margin: 0;
        margin-bottom: 24px;

        display: flex;
        flex-wrap: wrap;

        column-gap: 40px;
        row-gap: 7px;
    }

    .section-goods__button {
        .btn ();

        text-transform: uppercase;

        border-radius: 28px;

        padding: 14px 24px;

        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .section-goods__button--active {
        color: @white;
        background-color: @brand;
    }

    .section-goods__wrapper-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 7px;

        text-align: center;
    }

    .section-goods-card {
        position: relative;

        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 300px 32px min-content;
        grid-row-gap: 5px;
    }

    .section-goods__card-name {
        font-weight: 700;
        font-size: 14px;

        color: @dark;

        line-height: 16px;
        
        margin: 0;
    }

    .section-goods__wrapper-price {
        display: flex;
        align-items: center;
        justify-content: center;

        column-gap: 10px;
    }

    .section-goods__card-price {
        font-weight: 700;
        font-size: 16px;

        line-height: 24px;

        color: @dark;

        margin: 0;
    }

    .section-goods__card-price-strikethrough {
        font-weight: 500;
        font-size: 14px;

        line-height: 20px;

        text-decoration: line-through;

        color: @gray;
    }

    .section-goods__card-discount {
        position: absolute;
        top: 9px;
        left: 8px;

        width: 32px;
        height: 32px;
        background-color: @lightPink;

        border-radius: 16px;

        display: flex;


        p {
            padding: 7px 5px;
            margin: 0;

            width: 100%;
            height: 100%;

            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;

            font-size: 12px;
            font-weight: 700;

            line-height: 17px;

            color: @brandSecondaryrgba;
        }
    }

    .section-goods__img {
        opacity: 0.3;
    }

    .section-goods__wrapper-icon {
        position: absolute;
        top: 9px;
        left: 7px;

        width: 32px;
        height: 32px;

        border-radius: 16px;

        background-color: @softAmber;
    }
}