@media (min-width: @desktop-width) {
    .section-catalog {
        background-color: @white;
    }
    
    .section-catalog__container {
        .container ();
    }
    
    .section-catalog__wrapper {
        padding: 73px 10px 36px;
    
        background-color: @white;
    }
    
    .section-catalog__title {
        .title ();

        margin-bottom: 32px;
    }
    
    .section-catalog__list {
        display: flex;
        flex-wrap: wrap;
    
        column-gap: 17px;
        row-gap: 32px;
    
        .reset-styles-ol ();
        margin-top: 0;
        margin-bottom: 72px;
        padding: 0;
    }
    
    // .section-catalog__item {
    // }
    
    .section-catalog__link {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    
        text-decoration: none;
    
        font-weight: 500px;
        font-size: 16px;
    
        line-height: 24px;
    
        color: @dark;
    
        margin-top: 4px;
    }
    
    // .section-catalog__img {
    
    // }
    
    .section-catalog__button {
        .btn ();

        border-radius: 38px;

        padding: 28px 54px;

        display: block;
        
        margin: 0 auto;
    }
}
